@font-face {
    font-family: 'helvetica';
    src: url('../fonts/helvetica/HelveticaNowDisplay-Regular.woff2') format('woff2'),
    url('../fonts/helvetica/HelveticaNowDisplay-Regular.woff') format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'helvetica';
    src: url('../fonts/helvetica/HelveticaNowDisplay-Bold.woff2') format('woff2'),
    url('../fonts/helvetica/HelveticaNowDisplay-Bold.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'helvetica';
    src: url('../fonts/roboto/Roboto-Regular.woff') format('woff');
    font-weight: 400;
}

html {
    font-size: 8px;
    line-height: 21px;
}

body {
    font-family: helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

h1 {
    font-weight: 700;
}

h2 {
    font-size: 3rem;
    line-height: 2.188rem;
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
    line-height: 2.188rem;
    font-weight: 700;
}

.position-relative {
    position: relative;
}

.weird-image {
    position: absolute;
    top: 23%;
    left: 8%;
    display: none;
}

.weird-image2 {
    position: absolute;
    top: 0;
    right: 10%;
    transform: translateY(-50%);
    display: none;
}

.weird-image3 {
    position: absolute;
    left: 200px;
    top: 4px;
    transform: translateY(-50%);
    display: none;
}

.bottom-line {
    border-bottom: 1px solid #324152;
}

.left-right-line {
    border-left: 1px solid #324152;
    border-right: 1px solid #324152;
}

.color-light-blue {
    color: #00B3E4;
}

.color-black {
    color: #101423;
}

.text-center {
    text-align: center;
}

.color-black-fs-18-700 {
    color: #101423;
    font-size: 1.125rem;
    font-weight: 700;
    transition: .3s;
}

.color-black-fs-18-700:hover {
    color: #00B3E4;
    text-decoration: none;
}

.advantages__description,
.header-descripntion,
.services-item__text,
.contact-form__description,
.about-documents__description,
contact-page__description{
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

.header {
    background-image: url("../images/header-bg.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.header > .container {
    height: 100%;
    display: flex;
}

.header > .container > .row {
    margin-top: -100px;
}

.header-nav {
    display: flex;

}

.header-nav__item {
    list-style-type: none;
    margin-right: 1.875rem;
    padding: 0.938rem 0;
}

.header-nav__item:last-child {
    margin-right: 0;
}

.header-nav__link {
    color: #B5C3CA;
    font-size: 1rem;
    transition: .3s;
}

.wrapper100height {
    height: 100%;
}

.logo-block {
    color: #ffffff;
    padding: 0.938rem 0;
}

.header-nav__link:hover {
    color: #00B3E4;
    text-decoration: none;
}

.phone-block {
    color: #FFFFFF;
    padding: 0.938rem 0;
    position: relative;
}

.phone-block:before {
    content: "";
    display: block;
    position: absolute;
    background: url("../images/call 1.svg");
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    background-size: contain;
    transform: translate(-150%, 70%);
}

.phone-block__phone-number {
    font-size: 1rem;
}

.phone-block__phone-number a {
    color: #fff;
}

.header-heading {
    color: #ffffff;
}

.phone-block__callback {
    color: #B5C3CA;
    text-decoration: underline;
}

.header-descripntion {
    color: #B5C3CA;
}

.search-block {
    padding: 0.625rem;
    text-align: center;
}

.select-lang {
    padding: 0.625rem;
    text-align: center;
    color: #ffffff;
    position: relative;
}

.select-lang:after {
    content: "";
    display: block;
    position: absolute;
    left: 80%;
    top: 55%;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid white;
    transform: translate(-50%, -50%);
}

.advantages {
    background-image: url("../images/sec-bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 7.688rem 0;
}

.advantages-heading {
    text-align: center;
    margin-bottom: 1.688rem;
}

.advantages__description {
    text-align: center;
}

.advantage-list__item {
    text-align: center;
    box-shadow: 0 15px 30px rgba(21, 53, 83, 0.2);
    border-radius: 5px;
    position: relative;
    margin-top: 1.875rem;
    padding: 3.375rem 1.625rem 3.625rem;
    background: #fff;
    margin-bottom: 25px;
}

.advantage-list__item:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../images/bg-for-item.svg");
    width: 195px;
    height: 135px;
    z-index: -1;
}

.advantage-list__item:after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 22px solid white;
    display: none;
}

.advantage-list__item-heading {
    margin-top: 2.625rem;
}

.advantage-list__item-text {
    margin-top: 1.125rem;
}

.services {
    padding: 7.5rem 0;
}

.services-item__inner-image {
    width: 100%;
}

.services-item__heading {
    padding-left: 5px;
}

.services-item__text {
    padding-left: 0.313rem;
}

.services__heading {
    margin-bottom: 3.313rem;
    text-align: center;
}

.contact-form {
    padding: 7.5rem 0;
}

.contact-form__heading {
    margin-bottom: 1.688rem;
    text-align: center;
}

.contact-form__description {
    text-align: center;
    margin-bottom: 3.375rem;
}

.contact-form__block {
    background: #fff;
    box-shadow: 0 4px 30px 0 rgba(21,53,83,0.1);
    border-radius: 5px;
    padding: 1.875rem;
}


.contact-form {
    background-image: url("../images/Group 51.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.main-contact-form__text,
.main-contact-form__email,
.main-contact-form__tel {
    width: 100%;
    padding: 13px 10px;
    font-size: 0.875rem;
    border-radius: 5px;
    border: 1px solid #C9DDF0;
    color: #101A2C;
    margin-bottom: 1.25rem;
    outline-color: #9DBEDD;
}



.main-contact-form__text,
.main-contact-form__email,
.main-contact-form__tel::placeholder {
    color: #819FBC;
}

.main-contact-form__textarea {
    width: 100%;
    height: 115px;
    padding: 0.813rem 0.625rem;
    font-size: 0.875rem;
    border-radius: 5px;
    border: 1px solid #C9DDF0;
    color: #101A2C;
    outline-color: #9DBEDD;
}

.main-contact-form__send {
    background: #00B3E4;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 10px 0 rgba(13, 33, 69, 0.2);
    color: #fff;
    padding: 0.625rem 0;
    margin-top: 1.25rem;
    transition: .3s;
}

.main-contact-form__send:hover {
    background: #1CCBFC;
}

.contact-info {
    border: 1px solid #C9DDF0;
    border-radius: 5px;
    padding: 1.5rem;
    margin-top: 1.875rem;
}

.contact-info__item {
    padding-bottom: 1.25rem;
}

.contact-info__item:last-child {
    padding-bottom: 0;
}

.contact-info img {
    margin-right: 0.375rem;
}

.about-documents {
    background-image: url("../images/Group 62.jpg");
    background-size: cover;
    background-position: center center;
    padding: 8.563rem 0;
}


.about-documents__heading {
    font-size: 3rem;
    line-height: 4.375rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

.about-documents__description {
    color: #B5C3CA;
    text-align: center;
    margin-bottom: 3.938rem;
}

.about-documents__link {
    padding: 0.625rem 4.625rem;
    background: #00B3E4;
    color: #ffffff;
    border-radius: 5px;
    transition: .3s;
}

.about-documents__link:hover {
    background: #1CCBFC;
    text-decoration: none;
    color: #ffffff;
}

.footer-nav__item {
    list-style-type: none;
    margin-right: 1.75rem;
    font-size: 1rem;
    line-height: 1.438rem;
    padding: 3.313rem 0;
}

.footer-nav__link {
    color: #262B3D;
}

.nav {
    border-bottom: 1px solid #EAEAEB;
    text-align: right;
    height: 70px;
    line-height: 70px;
}

.menu {
    margin: 0 30px 0 0;
}
.menu a {
    clear: right;
    text-decoration: none;
    color: gray;
    margin: 0 10px;
    line-height: 70px;
    font-size: 14px;
    background: white;
}

label {
    margin: 0 10px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
    color: white;
}

#toggle {
    display: none;
}

.contact-page .nav {
    border-bottom: 1px solid black;
    text-align: right;
    height: 70px;
    line-height: 70px;
    position: relative;
}

.contact-page .menu {
    margin: 0 30px 0 0;
    z-index: 1;
    position: absolute;
    top: 100%;
}
.contact-page .menu a {
    clear: right;
    text-decoration: none;
    color: #4C5472;
    margin: 0 10px;
    line-height: 70px;
    font-size: 14px;
    background: #EDF5FF;
}

.contact-page label {
    margin: 0 10px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
    color: black;
}

.contact-page #toggle {
    display: none;
}



@media only screen and (max-width: 767px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;

    }
    #toggle:checked + .menu {
        display: block;
    }

    .main-menu {
        display: none;
    }

    .contact-page label {
        display: block;
        cursor: pointer;
    }
    .contact-page .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .contact-page .menu a {
        display: block;
        border-bottom: 1px solid #4C5472;
        margin: 0;

    }
    .contact-page #toggle:checked + .menu {
        display: block;
    }

    .contact-page .main-menu {
        display: none;
    }
}



/* contacts page*/

.contact-page {
    background-image: none;
}


.contact-page .header-nav__link {
    color: #4C5472;
}

.contact-page .header-nav__link:hover {
    color: #00B3E4;
}

.contact-page .phone-block__phone-number a {
    color: #4C5472;
}

.contact-page .bottom-line {
    border: none;
}

.contact-page .left-right-line {
    border: none;
}

.contact-page-main {
    background: #EDF5FF;
}


.contact-page-top-padd {
    padding: 3.563rem 0;
}


/* tariffs */

.tariffs-page-top-padd {
    background: url("../images/Group 101.jpg") no-repeat center center;
    padding: 7.063rem;
}

.tariffs-page-top-padd .tariffs-page-heading {
    color: #ffffff;
}


.tariffs-page-top-padd .tariffs-page__description {
    color: #B5C3CA;
}


.tariffs-thead-row {
    background: #1F253D;
    color: #ffffff;
    font-weight: 700;
}

.tariffs-thead-col {
    padding: 1.75rem 3.125rem;
}

.tariffs-body-row {
    text-align: center;
    border-bottom: 4px solid lightgray;
}

.tariffs-body-col {
    padding: 20px 0;
}

.tariffs-body-row:nth-child(even) {
    background: #F6FAFF;
}

.tariffs-table-padd {
    padding: 2.5rem 0 9.563rem 0;
}

.tariffs-table-bg {
    background: #EDF5FF;
}
