@media (min-width: 576px) {
    html {
        font-size: 10px;
        line-height: 21px;
    }

    .services-item__image {

    }

    .advantage-list__item:after {
        border-left: 270px solid transparent;
        border-right: 270px solid transparent;
        border-top: 40px solid white;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 12px;
        line-height: 21px;
    }

    .contact-info {
        margin-top: 0;
        height: 100%;
    }

    .nav {
        display: none;
    }

    .weird-image {
        display: block;
    }

    .weird-image2 {
        display: block;
    }

    .weird-image3 {
        display: block;
    }

    .advantage-list__item {
        margin-bottom: 0;
    }

    .advantage-list__item:after {
        display: block;
        border-left: 105px solid transparent;
        border-right: 105px solid transparent;
        border-top: 25px solid white;
    }

    .services-item__image {
        width: 100%;
        position: relative;
        min-height: 167px;
    }

    .services-item__image_left {
        background: url("../images/Rectangle 21.svg") no-repeat;
    }

    .services-item__image_right {
        background: url("../images/Rectangle 8.svg") no-repeat;
    }

    .services-item__inner-image {
        position: absolute;
        bottom: 0;
    }

    .services-item__image_left img {
        right: 0;
    }

    .services-item__image_right {
        left: 0;
    }

    .contact-page-form {
        transform: translateY(-50%);
    }

    .acts-list {
        margin-top: -260px;
    }

    .acts-main-padd {
        padding-bottom: 8.375rem;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 16px;
        line-height: 21px;
    }

    .advantage-list__item:after {
        display: block;
        border-left: 145px solid transparent;
        border-right: 145px solid transparent;
        border-top: 25px solid white;
    }

    .services-item__image {
        width: 100%;
        position: relative;
        min-height: 227px;
    }


    .company-mg-top-second {
        display: block;
    }

    .company-main-padd {
        height: 1024px;
    }

}

@media (min-width: 1200px) {
    html {
        font-size: 16px;
        line-height: 21px;
    }

    .advantage-list__item:after {
        display: block;
        border-left: 175px solid transparent;
        border-right: 175px solid transparent;
        border-top: 25px solid white;
    }

    .services-item__image {
        width: 100%;
        position: relative;
        min-height: 274px;
    }

    .company-top-bg-image {
        display: block;
    }

    .weird-image-7 {
        display: block;
    }
}
